[class *= "circ"] {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  border: 20px solid #A6232B;
}
.mini-circ {
  top: 75%;
  top: 60%;
  transform: translate(-50%,-50%) scale(0.8) rotate(40deg);
  animation: rotate-revolve-top-left 2s infinite linear;
}

/*Keyframes*/
@keyframes rotate-revolve-top-left {
  from {transform: translate(-50%,-50%) scale(0.8) rotate(200deg);
  transform-origin: top-left;}
  to {transform: translate(-50%,-50%) scale(0.8) rotate(560deg);
  transform-origin: top-left;}
}