.glow {
    height: 20rem;
    width: 20rem;
    filter: blur(150px);
    border-radius: 150px;
    z-index: 0;
    position: fixed;
    opacity:0.90;
}

.glow-red {
    background-color: red;
}

.glow-white {
    background-color: white;
}