@keyframes float {
  0% {
    transform: translate(-50%, -50%) translateY(0px);
  }
  50% {
    transform: translate(-50%, -50%) translateY(-20px);
  }
  100% {
    transform: translate(-50%, -50%) translateY(0px);
  }
}

.floating-astronaut {
  animation: float 6s ease-in-out infinite;
}

@media (max-width: 640px) {
  .floating-astronaut {
    max-width: 80%;
  }
}

.coming-soon-container {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 40;
}

.coming-soon-text {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #800080, 0 0 20px #800080, 0 0 35px #800080, 0 0 40px #800080, 0 0 50px #800080;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #800080, 0 0 40px #800080, 0 0 70px #800080, 0 0 80px #800080, 0 0 100px #800080;
  }
}
