@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

a{
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
a:focus {
    outline: none !important;
}

html {
    overflow-y: scroll;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

body {
    overflow-y: visible;
    position: relative;
    overflow-x: hidden;
}

html, body {
    scroll-behavior: smooth !important;
}


.container{
    -ms-scroll-snap-type: y mandatory;
    scroll-snap-type: y mandatory;
    flex-basis: 50%;
  max-height: 100vh;
}

.container.proximity{
    -ms-scroll-snap-type: y proximity;
    scroll-snap-type: y proximity;
}

#dot,
#ball {
  position: fixed; /* Sabit konumlandırma */
  border-radius: 50%;
  pointer-events: none;
}

/* General styles for #cursor and #cursor-border */
#cursor,
#cursor-border {
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 9999;
    transition: width 0.2s ease, height 0.2s ease; /* Smooth size transitions */
}

/* Styles for #cursor */
#cursor {
    width: 10px;
    height: 10px;
    background-color: #A62328;
    border-radius: 50%;
    transition: width 0.2s ease, height 0.2s ease; /* Smooth size transitions */
}

/* Styles for #cursor-border */
#cursor-border {
    width: 50px;
    height: 50px;
    border: 2px solid #A62328;
    border-radius: 50%;
    transition: width 0.2s ease, height 0.2s ease, border-color 0.2s ease; /* Smooth size and color transitions */
}

/* Hide the cursor elements on mobile screens */
@media (max-width: 768px) {
    #cursor,
    #cursor-border {
        display: none; /* Hide the cursor elements on mobile screens */
    }
}

/* Show the cursor elements on larger screens */
@media (min-width: 769px) {
    #cursor,
    #cursor-border {
        display: block; /* Ensure the cursor elements are visible on larger screens */
    }
}


#speakers {
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    overflow-x: auto;
}

.panel {
    scroll-snap-align: center;
    scroll-behavior: smooth;
}